.Header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 20px
    background-color: #9e0000
    color: white
    height: 100px
    font-size: 2rem

    &__navigation
        display: flex
        justify-content: space-between
        align-items: center
        width: 20%
        height: 100%
        font-size: 1.2rem
